@import "~office-ui-fabric-react/dist/sass/References.scss";

.onboardingWebpart {
  color: black;
}

body,
html {
  margin: 0;
  padding: 0;
}

.imagecontainer {
  max-width: 100vw;
  margin: 0 auto; /* Center the container horizontally */
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: auto; /* Set a height to center vertically on the viewport */
  position: relative;
}

#circleimage {
  display: block;
  z-index: 1; /* Lower z-index */
  max-width: 95%; /* Set the image's maximum width to 100% of its container */
  height: auto;
}

#tree {
  display: block;
  z-index: 3;
  position: absolute;
  max-width: 9%;
  height: auto;
  top: 44%;
  left: 24.1%;
}

#startarrow {
  display: block;
  z-index: 3;
  position: absolute;
  max-width: 8%;
  height: auto;
  top: 34.5%;
  left: 5.5%;
  rotate: 9deg;
}

#embeddedvideo0,
#embeddedvideo1,
#embeddedvideo2 {
  display: block;
  border: none;
  z-index: 5;
  position: absolute;
  height: auto;
  top: 29%;
  left: 40%;
  max-width: 36%;
  max-height: 37%;
  height: auto;
}

#circletoken1videooverlay {
  opacity: 0%;
  z-index: 4;
}

.circletokens {
  display: block;
  z-index: 2; /* Higher z-index */
  position: absolute;
  max-width: 6%;
  height: auto;
  cursor: pointer;
}

.circletokenscompleted {
  display: block;
  z-index: 1;
  /* Higher z-index */
  position: absolute;
  max-width: 6%;
  height: auto;
  cursor: not-allowed;
}

/* Custom positions for each circletoken */
#circletoken0 {
  top: 37%;
  left: 15%;
}

#circletoken1,
#circletoken1videooverlay,
#circletoken1green {
  top: 41%;
  left: 30%;
}

#circletoken2 {
  top: 65%;
  left: 34%;
}

#circletoken3 {
  top: 85%;
  left: 46%;
}

#circletoken4 {
  top: 83%;
  left: 67%;
}

#circletoken5 {
  top: 60%;
  left: 76%;
}

#circletoken6 {
  top: 35%;
  left: 75%;
}

#circletoken7 {
  top: 14%;
  left: 65%;
}

#circletoken8,
#circletoken8green {
  top: 5%;
  left: 52%;
}

@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.onboarding {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
